<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutraHealth Home</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{ template "header.html" . }}
        <section id="home-initial">
           <div class="texts">
            <h1 style="color: green">Encontre aqui o profissional que fará a diferença para sua saúde!</h1>
            <p style="color: #2e4170;">Nutricionistas e Personal Trainers de ótima qualidade na palma da sua mão, entre em contato para mais informações.</p>
            <button class="button-vejamais">Veja mais</button>
           </div>
           <div class="image-initial">
            <img src="/assets/images/vecteezy_man-is-doing-kettlebell-exercises-at-the-gym-illustration_11634393.jpg" alt="">
         </div>
        </section>
</body>
</html>
