<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - NutraHealth</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{ template "header.html" . }}
        <section>
           <h1>Faça seu Cadastro</h1>
           <p>Insira seus dados de acordo com seus documentos.</p>
           <form action="/register" method="POST" class="form-cadastro">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Telefone:</label>
                    <input type="tel" id="phone" name="phone" patter="[0-9]{11}" required>
                    <small>Formato: 11999999999</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="button-submit">Cadastrar</button>
                </div>
           </form>
        </section>
</body>
</html>
